<div class="mx-auto w-[75%] grid grid-cols-3 items-center gap-12 mt-8">

  <div class="relative h-96 bg-primary rounded-[50px] w-96">
    <div
      class="absolute bottom-0 bg-white border-2 border-primary rounded-[50px] w-full h-[88%] flex flex-col items-center"
    >
      <div class="flex-1 w-[75%] py-2 flex flex-col gap-4">
        <h1 class="font-bold text-4xl text-center">Rails Generator Commands</h1>
        <h3 class="text-2xl font-medium text-gray-500">Author: Spike Vinz</h3>
        <h4 class="text-2xl">May 29 2022</h4>
      </div>
      <div class="h-16 border-t border-t-primary w-[75%] grid grid-cols-3 items-center place-items-center">
        <div class="shrink-0">
          <a href="#"> <%= vite_image_tag 'images/edit.png', class: "w-12 h-12" %> </a>
        </div>
        <div class="shrink-0 w-28 flex justify-center border-x border-x-primary">
          <a href="#"> <%= vite_image_tag 'images/eye.png', class: "w-12 h-12" %> </a>
        </div>
        <div class="shrink-0">
          <a href="#"> <%= vite_image_tag 'images/delete.png', class: "w-12 h-12" %> </a>
        </div>
      </div>
    </div>
  </div>

  <div class="relative h-96 bg-primary rounded-[50px] w-96">
    <div
      class="absolute bottom-0 bg-white border-2 border-primary rounded-[50px] w-full h-[88%] flex flex-col items-center"
    >
      <div class="flex-1 w-[75%] py-2 flex flex-col gap-4">
        <h1 class="font-bold text-4xl text-center">Rails Generator Commands</h1>
        <h3 class="text-2xl font-medium text-gray-500">Author: Spike Vinz</h3>
        <h4 class="text-2xl">May 29 2022</h4>
      </div>
      <div class="h-16 border-t border-t-primary w-[75%] grid grid-cols-3 items-center place-items-center">
        <div class="shrink-0">
          <a href="#"> <%= vite_image_tag 'images/edit.png', class: "w-12 h-12" %> </a>
        </div>
        <div class="shrink-0 w-28 flex justify-center border-x border-x-primary">
          <a href="#"> <%= vite_image_tag 'images/eye.png', class: "w-12 h-12" %> </a>
        </div>
        <div class="shrink-0">
          <a href="#"> <%= vite_image_tag 'images/delete.png', class: "w-12 h-12" %> </a>
        </div>
      </div>
    </div>
  </div>

  <div class="relative h-96 bg-primary rounded-[50px] w-96">
    <div
      class="absolute bottom-0 bg-white border-2 border-primary rounded-[50px] w-full h-[88%] flex flex-col items-center"
    >
      <div class="flex-1 w-[75%] py-2 flex flex-col gap-4">
        <h1 class="font-bold text-4xl text-center">Rails Generator Commands</h1>
        <h3 class="text-2xl font-medium text-gray-500">Author: Spike Vinz</h3>
        <h4 class="text-2xl">May 29 2022</h4>
      </div>
      <div class="h-16 border-t border-t-primary w-[75%] grid grid-cols-3 items-center place-items-center">
        <div class="shrink-0">
          <a href="#"> <%= vite_image_tag 'images/edit.png', class: "w-12 h-12" %> </a>
        </div>
        <div class="shrink-0 w-28 flex justify-center border-x border-x-primary">
          <a href="#"> <%= vite_image_tag 'images/eye.png', class: "w-12 h-12" %> </a>
        </div>
        <div class="shrink-0">
          <a href="#"> <%= vite_image_tag 'images/delete.png', class: "w-12 h-12" %> </a>
        </div>
      </div>
    </div>
  </div>

  <div class="relative h-96 bg-primary rounded-[50px] w-96">
    <div
      class="absolute bottom-0 bg-white border-2 border-primary rounded-[50px] w-full h-[88%] flex flex-col items-center"
    >
      <div class="flex-1 w-[75%] py-2 flex flex-col gap-4">
        <h1 class="font-bold text-4xl text-center">Rails Generator Commands</h1>
        <h3 class="text-2xl font-medium text-gray-500">Author: Spike Vinz</h3>
        <h4 class="text-2xl">May 29 2022</h4>
      </div>
      <div class="h-16 border-t border-t-primary w-[75%] grid grid-cols-3 items-center place-items-center">
        <div class="shrink-0">
          <a href="#"> <%= vite_image_tag 'images/edit.png', class: "w-12 h-12" %> </a>
        </div>
        <div class="shrink-0 w-28 flex justify-center border-x border-x-primary">
          <a href="#"> <%= vite_image_tag 'images/eye.png', class: "w-12 h-12" %> </a>
        </div>
        <div class="shrink-0">
          <a href="#"> <%= vite_image_tag 'images/delete.png', class: "w-12 h-12" %> </a>
        </div>
      </div>
    </div>
  </div>

  <div class="relative h-96 bg-primary rounded-[50px] w-96">
    <div
      class="absolute bottom-0 bg-white border-2 border-primary rounded-[50px] w-full h-[88%] flex flex-col items-center"
    >
      <div class="flex-1 w-[75%] py-2 flex flex-col gap-4">
        <h1 class="font-bold text-4xl text-center">Rails Generator Commands</h1>
        <h3 class="text-2xl font-medium text-gray-500">Author: Spike Vinz</h3>
        <h4 class="text-2xl">May 29 2022</h4>
      </div>
      <div class="h-16 border-t border-t-primary w-[75%] grid grid-cols-3 items-center place-items-center">
        <div class="shrink-0">
          <a href="#"> <%= vite_image_tag 'images/edit.png', class: "w-12 h-12" %> </a>
        </div>
        <div class="shrink-0 w-28 flex justify-center border-x border-x-primary">
          <a href="#"> <%= vite_image_tag 'images/eye.png', class: "w-12 h-12" %> </a>
        </div>
        <div class="shrink-0">
          <a href="#"> <%= vite_image_tag 'images/delete.png', class: "w-12 h-12" %> </a>
        </div>
      </div>
    </div>
  </div>

  <div class="relative h-96 bg-primary rounded-[50px] w-96">
    <div
      class="absolute bottom-0 bg-white border-2 border-primary rounded-[50px] w-full h-[88%] flex flex-col items-center"
    >
      <div class="flex-1 w-[75%] py-2 flex flex-col gap-4">
        <h1 class="font-bold text-4xl text-center">Rails Generator Commands</h1>
        <h3 class="text-2xl font-medium text-gray-500">Author: Spike Vinz</h3>
        <h4 class="text-2xl">May 29 2022</h4>
      </div>
      <div class="h-16 border-t border-t-primary w-[75%] grid grid-cols-3 items-center place-items-center">
        <div class="shrink-0">
          <a href="#"> <%= vite_image_tag 'images/edit.png', class: "w-12 h-12" %> </a>
        </div>
        <div class="shrink-0 w-28 flex justify-center border-x border-x-primary">
          <a href="#"> <%= vite_image_tag 'images/eye.png', class: "w-12 h-12" %> </a>
        </div>
        <div class="shrink-0">
          <a href="#"> <%= vite_image_tag 'images/delete.png', class: "w-12 h-12" %> </a>
        </div>
      </div>
    </div>
  </div>

</div>
